
mixin options(categoryList, i, parentId = "")
    each item in categoryList 
        option(
            value=item.id
            selected=(parentId ==  item.id ? true : false)
        ) #{"- - ".repeat(i) + item.name}            
        if (item.children && item.children.length > 0)
            +options(item.children, (i + 1), parentId)
        